- name: Setup Cluster Swarm
  hosts: all
  become: yes # mode "sudo"
  tasks:
    - name: Installation Docker
      shell: amazon-linux-extras install docker -y && systemctl start docker

    - name: Ajouter l'utilisateur ec2-user au groupe docker
      user:
        name: ec2-user
        groups: docker
        append: yes


- name: Init Manager
  hosts: manager
  become: yes
  tasks:
    - name: Swarm Init
      shell: docker swarm init --advertise-addr {{ ansible_host }}
    - name: Get Token
      shell: docker swarm join-token worker -q
      register: swarm_token

- name: Join Workers
  hosts: workers
  become: yes
  vars:
    token: "{{ hostvars[groups['manager'][0]]['swarm_token'].stdout }}"
    m_ip: "{{ hostvars[groups['manager'][0]]['ansible_host'] }}"
  tasks:
    - name: Join
      shell: docker swarm join --token {{ token }} {{ m_ip }}:2377


- name: Déployer la Stack Multiverse
  hosts: manager
  become: yes
  tasks:
    - name: Copier le fichier docker-compose.yml depuis le PC vers le Manager
      copy:
        src: ../docker-compose.yml
        dest: /home/ec2-user/docker-compose.yml
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Déployer (ou mettre à jour) la stack Docker
      shell: docker stack deploy -c /home/ec2-user/docker-compose.yml multiverse_swarm